* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    scroll-behavior: smooth;
}

h1 {
    color: white;
}

header {
    background-color: rgb(10, 34, 44);
    height: 90px;
    display: flex;
}

#logo {
    width: 200px;
}

body {
    background-color: rgb(7, 24, 32);
    height: 100dvh;

}

h2 {
    color: white;
    font-family: "Kanit", sans-serif;
    font-style: normal;
}

#your {
    display: flex;
    justify-content: center;
    font-size: 26px;
    margin-bottom: 300px;
}

.d_none {
    display: none;
}

.overlay {
    background-color: rgba(3, 3, 3, 0.76);
    position:absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
#fotos {
    display: flex;
    flex-direction: row;
}


#bilder{
    width: 200px;
    height: 200px;
    cursor: pointer;
}
.bilder-gross {
    width: 400px;
    height: 400px;
}

footer {
    background-color: rgb(10, 34, 44);
    margin-top: 28.8%;
    display: flex;
    padding: 1%;
    flex-direction: column;
    align-items: center;
}

#da-logo {
    width: 160px;
}

h3 {
    color: white;
    font-family: "Kanit", sans-serif;
    font-weight: lighter;
    margin-bottom: 0px;
}