* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    scroll-behavior: smooth;
    font-family: "Itim", sans-serif;
    color: white;
}
body {
    width: 100%;
    height: 90dvh;
    background-color: rgb(25, 20, 44);   

}
header {
    background-color: rgb(75, 130, 153);
    height: 90px;
    display: flex;
}

h1 {
    color: white;
}

#logo {
    width: 200px;
}

main {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(193, 200, 207, 0.377);
}

#fotosContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.bilder {
    width: 100px;
    height: 100px;
    cursor: pointer;
    top: 300px;
}

.bilder-gross {
    width: 200px;
    height: auto;
  left: 700px;
  top: 200px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background: rgba(0, 0, 0, 0.8);
}
.d_none {
    display: none;
}

#close{
    padding: 10px;
    border-radius: 30px;
    color: black;
    left: 700px;
    bottom: 190px;
}

h2 {
    
    color: white;
    font-family: "Kanit", sans-serif;
    font-style: normal;
}

#titel {
    display: flex;
    justify-content: center;
    font-size: 26px;
    margin-bottom: 300px;
}



footer {
    height: 112px;
    width: 100%;
    background-color: rgb(10, 34, 44);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
}



.bilder-gross {
    width: 400px;
    height: 400px;
}

#da-logo {
    width: 160px;
}

h3 {
    color: white;
    font-family: "Kanit", sans-serif;
    font-weight: lighter;
    margin-bottom: 0px;
}